
<div class="module">
<h2>All Users</h1>

<table class="user_list">
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.like_count %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

</div>
