<%
#    A user's profile page. Contains all of their posts. Other users can subscribe
#    to them via this page.
#
#    Author:: Alex Miller
%>

<p id="notice"><%= notice %></p>

<div class="module" id="user_header">
  <h2><%= @user.username %>'s songs</h2>
  
  <!-- Subscribe/Unsubscribe buttons if the user isn't the current user -->
  <% unless !current_user || current_user.id == @user.id %>
    <div id="subscription_form">
      <% if current_user.subscribing?(@user) %>
        You are subscribed to <%= @user.username %>.
        <%= link_to_function "Unsubscribe.", "unsubscribe(#{@user.id}, showUnsubscribeCallback)" %>	
      <% else %>
        You are not subscribed to <%= @user.username %>.
        <%= link_to_function "Subscribe!", "subscribe(#{@user.id}, showSubscribeCallback)" %>	
      <% end %>
    </div>
  <% end %>  
</div>

<div class="module">
  <%= will_paginate @posts %>
  <%= render :partial => "posts/post_list", :locals => {:posts => @posts} %>
  <%= will_paginate @posts %>
</div>
