<%
#   A user's profile page. Contains all of their posts. Other users can subscribe
#   to them via this page.
%>

<p id="notice"><%= notice %></p>

<div id="user_header">
  <div id="name"><%= @user.username %>'s songs</div>
  
  <!-- Subscribe/Unsubscribe buttons if the user isn't the current user -->
  <% unless !current_user || current_user.id == @user.id %>
    <div id="subscription_form">
      <% if current_user.subscribing?(@user) %>
        You are subscribed to <%= @user.username %>
        <%= link_to_function "Unsubscribe", "unsubscribe(#{@user.id})" %>	
      <% else %>
        You are not subscribed to <%= @user.username %>
        <%= link_to_function "Subscribe", "subscribe(#{@user.id})" %>	
      <% end %>
    </div>
  <% end %>  
</div>

<!-- List the posts that the user has made -->
<div class="column left">
  <%= render :partial => "posts/post_list", :locals => {:posts => @user.posts} %>
</div>
