<%
#    View for a single song. Includes a Grooveshark Flash widget for playing the
#    song.
#
#    Author:: Alex Miller
%>

<div class="song" id="<%= song["api_id"] %>">
  <button class="play_button" onclick="makePlaylist(this)">
    <span>Play Song</span>
  </button>
  
  <% if add %>
  <button class="add_button" onclick="postSong(<%= song.api_id %>, this)">
    <span>Add Song</span>
  </button>
  <% end %>
  
  <div class="song_info">
    <h3><%= song.title %></h3>
    <p>from <em><%= song.album.title %></em>, by <strong><%= song.artist.title %></strong></p>
  </div>
</div>