<%
#    Page for viewing your feed so that you can play all the songs
#    in your feed
#
#    Author:: Tyler Rigsby
%>

<p id="notice"><%= notice %></p>

<div class="module" id="user_header">
  <h2>Your feed</h2>  
</div>

<div class="module">
    <div class="pagination_buttons">
      <span class="text_left"><%= ajax_link_to "Previous Page", "/feed?page=#{@page - 1}" unless @beginning %></span>
      <span class="text_right"><%= ajax_link_to "Next Page", "/feed?page=#{@page + 1}" unless @end %></span>
    </div>
    <div class="pagination_clear"></div>
    <%= render :partial => "posts/post_list", :locals => {:posts => @feed} %>
    <div class="pagination_buttons">
      <span class="text_left"><%= ajax_link_to "Previous Page", "/feed?page=#{@page - 1}" unless @beginning %></span>
      <span class="text_right"><%= ajax_link_to "Next Page", "/feed?page=#{@page + 1}" unless @end %></span>
    </div>
    <div class="pagination_clear"></div>
</div>
