<%
#    Top level view of BeatTide.
#
#    Author:: Alex Miller, Harnoor Singh
%>
<% if current_user %>
  <div class="column left">
	  <div class="module" id="add_song">
	    <h2>Add Song</h2>
		  <%= render :partial => "grooveshark/search" %>
		</div>
		<div class="module" id="your_songs">
      <h2>Your Posted Songs</h2>
      <div id="posted_songs">
        <%= render :partial => "posts/post_list", :locals => {:posts => current_user.posts} %>
        <%= link_to "See More...", "users/" + current_user.id.to_s if current_user.posts.length > 10 %>
      </div>
    </div>
  </div>
  <div class="column right">
		<div class="module">
	    <h2>Friend Feed (<%= link_to "Find Friends", "/users/search" %>)</h2>
	    <div id="friend_feed">
        <%= render :partial => "posts/post_list", :locals => {:posts => current_user.feed} %>
        <%= link_to "See More...", "feed" if current_user.feed.length > 10 %> 
      </div>
      <br />
      <h2><%= link_to "See All Users", "/users" %></h2>
    </div>
    <div class="module">
	    <h2>Top Songs</h2>
      <%= render :partial => "songs/song_list", :locals => {:songs => Song.top} %>
      <br />
      <h2>Top Users</h2>
      <%= render :partial => "users/user_list", :locals => {:users => User.top} %>
    </div>
  </div>
<% else %>
  <div class="module" id="welcome">
    <h1>Hello, music lover!</h1>
    <h2>You must sign in to use BeatTide.</h2>
    <%= link_to content_tag(:span, "Sign up with Facebook."), "/auth/facebook", :id => "fb_button" %>
  </div>
<% end %>
