<% 
# Tutorial page for BeatTide.  
# 
# Author:: Brett Webber 
%>

<div class="small_module module" id="footer">
    <%= ajax_link_to "Tutorial", "/tutorial" %> • <%= ajax_link_to "FAQ", "/faq"%> • <%= ajax_link_to "About", "/about" %>
</div>

<div class="module" id="user_header">
  <h2>Tutorial</h2>
</div>

<div class="module">
  <div class="module">
    <h3 id="Navigation">Navigation</h3>
    <%= image_tag("tutorial/navigation.png", :alt => "Navigation") %>
    <p class="explanation">
      Click on the links on the navigation bar to move around the site. The "home"
      button will return you to your home page; the "Find Friends" link allows
      you to browse and search for other users to subscribe to; the
      "Your subscriptions" link shows you all the users you are subscribed to; and
      the "Help" link shows you information to help you understand BeatTide.
    </p>
    </div>
  <div class="module">
    <h3 id="SongSearch">Adding a Song</h3>
    <%= image_tag("tutorial/song_search.png", :alt => "Song Search") %>
    <p class="explanation">
      Search bar under "Add Song" allows you to search for
      songs. Enter the name of a song, artist, or album and press
      “Enter” or click “Search” to search for it. The search results
      will appear below the box. You can listen to the songs you’ve
      searched for, and press “+” to post it to your profile.
    </p>
    </div>
  <div class="module">
    <h3 id="YourPlaylist">Your Playlist</h3>
    <%= image_tag("tutorial/posted_songs.png", :alt => "Posted Songs") %>
    <p class="explanation">
      This box contains the songs you’ve posted to your profile. You
      can play the songs you’ve posted, build a playlist from them, or
      remove them from your profile using the "x" in the corner. By default, the 10 most recent
      songs you’ve posted will appear here; click “See more...” to
      view more.
    </p>
  </div>
  <div class="module">
    <h3 id="AggregatedPlaylist">Aggregated Playlist</h3>
    <%= image_tag("tutorial/friend_feed.png", :alt => "Friend Feed") %>
    <p class="explanation">
      This box contains the songs your friends have posted to their
      profile. You can play the songs they’ve posted, build a playlist
      from them, or “Like” or add them to your own profile if you
      enjoy them, too. By default, the 10 most recent songs your
      friends have posted will appear here; click “See more...” to
      view more.
    </p>
  </div>  
  <div class="module">
    <h3 id="Player">Music Player</h3>
    <%= image_tag("tutorial/player.png", :alt => "Music Player") %>
    <p class="explanation">
      This flash widget in the upper right corner of the page is
      used for playing your music. Whenever you select songs to play
      from your posts playlist or aggregated playlist, it plays the
      entire playlist. You can click the pause button to stop playback.
      The player will continue to play your music while you navigate
      to other pages of the app.
    </p>
  </div>  
  <div class="module">
    <h3 id="TopUsers">Top Songs and Users</h3>
    <%= image_tag("tutorial/top_users.png", :alt => "Top Users") %>
    <p class="explanation">
      This box contains the users and songs that have received the
      most likes from all users of BeatTide. You can play songs or
      view the popular users.
    </p>
  </div>  
  <div class="module">
    <h3 id="SubscribeButton">Subscribe Button</h3>
    <%= image_tag("tutorial/subscribe.png", :alt => "Subscribe") %>
    <p class="explanation">
      This button allows you to subscribe to a user.  Once you are
      subscribed to someone, the songs that they post will come up in
      your aggregated playlist.  To unsubscribe to someone, go to
      their profile page and click the “unsubscribe” button that
      appears for users you are subscribed to.
    </p>
  </div>
  <div class="module">
    <h3 id="LikeButton">Like Button</h3>
    <%= image_tag("tutorial/like.png", :alt => "Like") %>
    <p class="explanation">
      Liking a song shows someone that you enjoyed their post, and
      contributes to their overall “likes” count.  If you wish to
      unlike a post, click the unlike button which should be where the
      like button was before you liked the song.      
    </p>
  </div>  
</div>
