
<%
#   View for a single post. Displays the song view and meta data about the post.
%>

<div class="post">
  <div class="posted_by">
    <strong><%= link_to post.user.username, post.user %></strong> posted:
  </div>
  <% if current_user == post.user %>
    <%= render :partial => "songs/song", :locals => {:song => post.song} %>
  <% else %>
    <%= render :partial => "songs/song_add", :locals => {:song => post.song} %>
  <% end %>

  <div class="info">
    <% if post.liked_by?(current_user) %>
    <strong>You like this
    <% else %>
    <strong><%= link_to_function "Like", "likePost(#{post.id}, this)" %>
    <% end %>
    <% if post.like_count == 1 %>
    </strong> | <span class="like_count"><%= post.like_count %> person likes this</span>
    <% else %>
    </strong> | <span class="like_count"><%= post.like_count %> people like this</span>
    <% end %>
  </div>
</div>
