<%
#   View for a single post. Displays the song view and meta data about the post.
#
#   Author:: Alex Miller
%>

<div class="post">
  <div class="posted_by">
    <strong><%= link_to post.user.username, post.user %></strong> posted:
  </div>
  <% if current_user == post.user %>
    <%= render :partial => "songs/song", :locals => {:song => post.song, :add => false} %>
  <% else %>
    <%= render :partial => "songs/song_add", :locals => {:song => post.song} %>
  <% end %>

  <div class="info">
    <span class="you_like">
    <% if post.liked_by?(current_user) %>
      <%= link_to_function "Unlike", "likePost(#{post.id}, this)" %>
    <% else %>
      <%= link_to_function "Like", "likePost(#{post.id}, this)" %>
    <% end %>
    </span>
    •
    <% if post.like_count == 1 %>
      <span class="like_count"><%= post.like_count %> person likes this</span>
    <% else %>
      <span class="like_count"><%= post.like_count %> people like this</span>
    <% end %>
    <span class="date_posted">• Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
  </div>
</div>
