<%
#   Layout for top level application views.
%>
<!DOCTYPE html>
<html>
<head>
  <title>BeatTide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <div id="header_container">
        <div id="header">
            <%= image_tag "logo_small.png" %>
        </div>
    </div>
    <div id="content">
        <div id="login">
            <% if current_user %>
              <strong><%= current_user.username %></strong> | <%= link_to "Sign Out", signout_path %>
            <% else %>
              <%= link_to content_tag(:span, "Sign up with Facebook."), "/auth/facebook", :id => "fb_button" %>
            <% end %>
        </div>
        
        <%= yield %>
        
        <div id="footer">Copyright BeatTide</div>
    </div>
</div>

</body>
</html>
