<!DOCTYPE html>
<html>
<head>
  <title>BeatTide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <div id="header_container">
        <div id="header">
            <%= image_tag "logo_border.png" %>
            <%= render "songs/player" %>
        </div>
    </div>
    <div id="content">
        <%= yield %>
    </div>
</div>

</body>
</html>
