<%
#   Layout for top level application views.
#
#   Author:: Alex Miller
%>


<% 
# if the raw instance variable is false, then we render the full app view
if !@raw
%>
<!DOCTYPE html>
<html>
<head>
  <title>BeatTide</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Rokkitt|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <div id="header_container">
        <div id="header">
            <% logo = image_tag("logo_small.png", :alt => "BeatTide Logo") %>
	          <%= ajax_link_to logo, "home" %>
	          <div id="player_container">
            </div>
        </div>
    </div>
    <div id="content">
        <div class="small_module module">
            <% if current_user %>
              Signed in as <strong><%= current_user.first_name %> <%= current_user.last_name %></strong> 
              | <%= link_to "Sign Out", signout_path %> 
              | <%= ajax_link_to "Your Subscriptions", "/subscriptions" %>  
              | <%= ajax_link_to "Edit Profile", "/edit_profile" %>
            <% else %>
              <strong>Not signed in.</strong>
            <% end %>
        </div>
        
        <div id="message_container">
        </div>
        
        <div id="dynamic_content_container">
          <%= yield %>
        </div>
        
        <div class="small_module module" id="footer">Copyright BeatTide</div>
    </div>
</div>

</body>
</html>
<% 
# otherwise, we don't wrap the view in any tags.
else
%>
  <%= yield %>
<% end %>
