<%
#   Layout for top level application views.
#
#   Author:: Alex Miller

# if the raw instance variable is false, then we render the full app view
if !@raw
%>
<!DOCTYPE html>
<html>
<head>
  <title>BeatTide</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Rokkitt|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <div id="message_container">
    </div>
    <div id="header_container">
        <div id="header">
            <% logo = image_tag("logo_small.png", :alt => "BeatTide Logo") %>
	          <%= ajax_link_to logo, "home" %>
	          <div id="player_container">
            </div>
        </div>
        <div id="navigation_container">
            <% if current_user %>
            <ul id="top_navigation">
                <li><%= ajax_link_to image_tag("icons/home.png", :alt => "Home") + " Home", "home" %></li>
                <li><%= ajax_link_to image_tag("icons/search.png", :alt => "User search") + " Find Friends", "users/search" %></li>
                <li><%= ajax_link_to image_tag("icons/subscriptions.png", :alt => "User search") + " Your Subscriptions", "/subscriptions" %></li>
            </ul>
                <ul id="user_navigation">
                    <li id="signed_in_as">Signed in as <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></li>
                    <li><%= ajax_link_to image_tag("icons/edit.png", :alt => "Home") + " Edit Profile", "/edit_profile" %></li>
                    <li><%= link_to "Sign Out", signout_path %></li>
                </ul>
            <% else %>
              <strong>Not signed in.</strong>
            <% end %>
        </div>
    </div>
    <div id="content">
        <div id="ad_space">
            <%= image_tag("ad1.png", :alt => "Ad") %>
        </div>
        
        <div id="dynamic_content_container">
          <%= yield %>
        </div>
        
        <div class="small_module module" id="footer"><%= ajax_link_to "Tutorial", "/tutorial" %> • <%= ajax_link_to "FAQ", "/faq"%> • <%= ajax_link_to "About", "/about" %><br>Copyright BeatTide</div>
    </div>
</div>

</body>
</html>
<% 
# otherwise, we don't wrap the view in any tags.
else
%>
  <%= yield %>
<% end %>
