<%
#   Layout for top level application views.
#
#   Author:: Alex Miller
%>
<!DOCTYPE html>
<html>
<head>
  <title>BeatTide</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Nixie+One|Rokkitt|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
    <div id="header_container">
        <div id="header">
            <% logo = image_tag("logo_small.png", :alt => "BeatTide Logo") %>
	          <%= link_to logo, root_path %>
        </div>
    </div>
    <div id="content">
        <div class="small_module module">
            <% if current_user %>
              Signed in as <strong><%= current_user.first_name %> <%= current_user.last_name %></strong> | <%= link_to "Sign Out", signout_path %> | <%= link_to "Edit Profile", "/edit_profile" %>
            <% else %>
              <strong>Not signed in.</strong>
            <% end %>
        </div>
        
        <div id="message_container">
        </div>
        
        <%= yield %>
        
        <div class="small_module module" id="footer">Copyright BeatTide</div>
    </div>
</div>

</body>
</html>
